.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}

#slider li {
  margin-right: 5px;
  line-height: 1;
}

#carousel li {
  margin-right: 5px;
  line-height: 1;
}
#carousel img {
  display: block;
  opacity: 0.5;
  cursor: pointer;
}
#carousel img:hover {
  opacity: 1;
}
#carousel .flex-active-slide img {
  opacity: 1;
  cursor: default;
}

.container_default {
  position: relative;
}

#carousel {
  border-color: transparent;
  position: absolute !important;
  bottom: -4% !important;
  width: 80% !important;
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: transparent;
  margin: 0;
  z-index: 2;
}
.flexslider {
  margin: 0;
  border: unset;
}
#slider.flexslider .flex-viewport ul li img {
  object-fit: cover;
  max-width: 100%;
  height: 666px;
}

#carousel.flexslider .flex-viewport ul li img {
  object-fit: cover;
  width: 180px !important;
  height: 120px;
}
#carousel.flexslider .flex-viewport {
  display: flex;
  align-items: center;
  justify-content: center;
}
#carousel.flexslider .slides {
  width: auto !important;
  display: inline-flex;
}

/* Custom buttons */

.custom-navigation {
  position: absolute;
  z-index: 3;
  width: 95%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.custom-navigation a img {
  cursor: pointer;
}
/*  */

.nav-carousel {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 12px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.nav-carousel a img {
  width: 50px;
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 3px 9px rgba(0, 0, 0, 0.3));
  opacity: 0.2;
  transition: 0.3s;
}
.nav-carousel a img:hover {
  opacity: 0.7;
}

.flex-direction-nav a.flex-next::before {
  content: "\f054";
}

.flex-direction-nav a.flex-prev::before {
  content: "\f053";
}

.flex-direction-nav a::before {
  font-family: "FontAwesome";
  font-size: 40px;
  display: inline-block;
  color: #fff;
}
