/** Hide */
@media (max-width: 576px) {
  .header_info .container .row {
    flex-wrap: wrap;
  }
  .header_info .container .row div {
    flex: 1 1 200px;
    text-align: center;
  }

  .navbar-nav > li > a {
    font-size: 14px !important;
  }

  .wrap_cards_car ul li img {
    object-fit: cover;
    width: 100%;
    height: 100px;
  }
  .wrap_cards_car ul li {
    margin: 2px 1px;
    width: 170px;
  }
  .wrap_cards_car ul {
    display: flex;
    flex-wrap: wrap;
  }

  #pixlee_container {
    height: auto;
    overflow: hidden;
  }

  #localizacao {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #slider.flexslider.cars .flex-viewport ul li img {
    height: 280px;
  }

  .buttons_show_images_car div .btn {
    max-width: 100%;
    margin-bottom: 6px;
  }
  .title_car {
    display: block;
    width: 100%;
    text-align: center;
  }

  .images_agrupadas .principal img {
    height: 280px;
  }
  .images_agrupadas .menores ul {
    flex-wrap: wrap;
  }
  .images_agrupadas .menores ul li img {
    height: 150px;
  }
  .descriptionDetailCar {
    font-size: 14px;
    line-height: 24px;
  }
  .img-responsive.two_columns {
    height: 168px;
  }
  .content_tab .img-responsive {
    min-height: 150px;
  }
  .popup_wrap {
    width: 92%;
  }
  .popup_wrap .pop_con img {
    height: 180px;
  }
  .images_agrupadas .principal p {
    font-size: 18px;
  }
  .images_agrupadas .menores ul li p {
    font-size: 18px;
  }
  .content_tab ul {
    padding: 0;
    padding-left: 12px;
  }
  .titleColumnDetailCar {
    font-size: 22px;
  }
  .socialNetworks a img {
    margin: 6px 0;
  }
  .socialNetworks {
    width: 52px;
  }

  .socialNetworks p {
    display: none;
  }
  .contactUs button {
    margin-top: 10px;
  }
  .aligButtonContactUs {
    text-align: center;
  }
  /**/

  .wrap_cards_car {
    display: flex;
    flex-wrap: wrap;
  }
  .wrap_card_car {
    flex: 1 1 200px;
    margin: 2px 5px;
  }
  .d-sm-none {
    display: none;
  }
  .btn--success,
  .btn--dark,
  [name="search"] {
    width: 94%;
    margin: 6px auto;
  }

  .custom-navigation a img {
    width: 30px;
    opacity: 0.6;
  }

  /**/
  .section_kia h2 {
    font-size: 28px;
  }
  .section_kia h4 {
    font-size: 20px;
  }
  .section_kia h2 + hr {
    width: 100px;
  }
  .section_kia {
    padding: 2px 0;
  }
  .wrap_target_car {
    width: 100% !important;
    margin: 8px 0;
  }
  /**/
  footer .container .row .col-md-3 {
    text-align: center;
  }
  .footer_menu_itens ul {
    text-align: center;
  }
  .legenda h5 {
    font-size: 20px;
  }
  .legenda p {
    font-size: 12px;
  }
  .card_consorcio_seguros .legenda {
    height: 48px;
  }
  .card_consorcio_seguros {
    background-size: cover;
  }
  .card_consorcio_seguros:hover {
    background-size: cover;
  }
  /**/
  .interest-options > [type="radio"] + i,
  .interest-options > [type="checkbox"] + i {
    width: 52px;
  }
  /**/
  footer .container-fluid.copyright .container .row {
    display: block;
  }
  footer .container-fluid.copyright .container .row div {
    text-align: center;
    margin: 8px 0;
  }
}

/** Show */
@media (min-width: 576px) {
  .d-sm-block {
    display: inline-block;
  }
  .d-md-none {
    display: none !important;
  }
}

/** Tablet */
@media (max-width: 1180px) {
  .wrap_target_car {
    width: 90%;
  }
  .navbar-nav > li > a {
    font-size: 10px;
  }
  .container_header div {
    flex: 1 1 50px;
  }
}
